@model Meme.Domain.Models.TokenModels.TokenDataModel

<li>
	<div class="card">		
		<div class="card-body">
			<h5 class="card-title"><img src="..." class="card-img-top" alt="..."> @Model.Name</h5>
			<p class="card-text">@Model.Description.</p>
		</div>
		<div class="card-body">
			<a href="#" class="card-link">View Site</a>
		</div>
	</div>
</li>
