<div class="row">
	<div class="col-12">
		<div style="text-align: center">
			<h1>Please choose your creation mode</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Manual Deployment</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<div class="d-grid gap-2">
					<a href="/memesites/deploy/manual" class="btn btn-primary">Start Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Oneclick Magic</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<div class="d-grid gap-2">
					<a href="/memesites/deploy/manual" class="btn btn-primary">Start Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">AI Trigger</h5>
				<p class="card-text">Coming soon.</p>
				<div class="d-grid gap-2">
					<a href="/memesites/deploy/manual" class="btn btn-primary">Start Now</a>
				</div>
			</div>
		</div>
	</div>
</div>