<!DOCTYPE html>
<html>
<head>
    <partial name="_PageHeadElement"/>
    
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body>
    <div class="main-content">                
        <!-- Page content -->
        <div class="page-content">
            <div class="page-content-box">
                <!-- Page content -->
                @RenderBody()
            </div>
        </div>
    </div>
    
    <partial name="_ThemeScripts" />

    @RenderSection("Scripts", required: false)
</body>
</html>
