@model MemeTokenHub.Service.Web.Models.TokensViewModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Explore coin pages</h1>
	<p>
		Meme Hub is an open launchpad for token websites
		Meme hub is not endorsing or affiliated with any token
	</p>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">



			<form id="searchForm">
				<div class="mb-3">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>

		</div>
		<div class="col-md-3"></div>
	</div>
	<br />
	<div class="row">
		<div class="col-2"></div>
		<div class="col-4">
			@if (Model.ClaimedTokens != null && Model.ClaimedTokens.Any())
			{
				<ul>
					@foreach (var token in Model.ClaimedTokens)
					{
						<partial name="ClaimedToken" model="token" />
					}
				</ul>
			}
		</div>
		<div class="col-4">
			@if(Model.UnclaimedTokens != null && Model.UnclaimedTokens.Any())
			{
				<ul>
					@foreach (var token in Model.UnclaimedTokens)
						{
							<partial name="UnclaimedToken" model="token" />						
						}
				</ul>
			}
		</div>
		<div class="col-2"></div>
	</div>
</div>
<script src="~/js/search.js" ></script>
