@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Explore coin pages</h1>
	<p>
		Meme Hub is an open launchpad for token websites
		Meme hub is not endorsing or affiliated with any token
	</p>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">



			<form id="searchForm">
				<div class="mb-3">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>

		</div>
		<div class="col-md-3"></div>
	</div>
	<br />
	<div class="row">
		<div class="col-2"></div>
		<div class="col-4">
			<ul>
				<li>
					<div class="card">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
						<div class="card-body">
							<a href="#" class="card-link">View site</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-4">
			<ul>
				<li>
					<div class="card">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
						<div class="card-body">
							<a href="#" class="card-link">Claim</a>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="col-2"></div>
	</div>
</div>
<script src="~/js/search.js" ></script>
